<header class="hero">
    <div class="hero__box">
        <figure class="hero__media">
            {% set asset = getAsset(section.image) %}

            <img
                alt="{{ asset.alt }}"
                class="hero__media__image"
                data-src="{{ asset.url }}"
                height="100%"
                width="100%"
            />
        </figure>

        <div class="hero__content">
            <h1 class="hero__title">{{ section.title }}</h1>

            <div class="hero__button">
                {% include '../components/button.twig' with {
                    class: 'hero__button__element',
                    text: section.button.text,
                    url: section.button.url
                } %}
            </div>
        </div>
    </div>
</header>
