<section class="quote" data-reveal="quote--active">
    <div class="quote__box">
        <p class="quote__description">
            <span>
                {{
                    section.title|replace({
                        '|': '</span><span>'
                    })
                }}
            </span>
        </p>

        {% for item in section.list %}
            <figure class="quote__media">
                {% set asset = getAsset(item.asset) %}

                <img alt="{{ asset.alt }}" class="quote__image" data-src="{{ asset.url }}" height="100%" width="100%" />
            </figure>
        {% endfor %}
    </div>
</section>
