<a class="button {{ class }}" data-reveal="button--active" href="{{ url }}">
    <span class="button__background"></span>

    <span class="button__text"><span class="button__text__line" data-text="{{ text }}">{{ text }}</span></span>
</a>
