.media {
  background: rgb(0 0 0 / 10%);
  border-radius: 0 0 1rem 1rem;
  margin-top: -1rem;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 1080 / 1920 * 100%;
    width: 100%;
  }

  @include media('<phone') {
    &::after {
      padding-top: 100%;
    }
  }
}

.media__video {
  @extend %cover;

  height: var(--100vh, 100vh);
  object-fit: cover;
}
