.shop__header {
  background: var(--color-black);
  border-radius: 0 0 1rem 1rem;
  color: var(--color-white);
  padding: 1.3rem 2.7rem;
  position: sticky;
  top: 8rem;
  width: 100%;
  z-index: 2;

  &::after {
    background: var(--color-pampas);
    bottom: 100%;
    content: '';
    height: 50vh;
    left: 0;
    position: absolute;
    width: 100%;
  }

  @include media('>=desktop') {
    padding: 13px 27px;
    top: 80px;
  }

  @include media('<phone') {
    padding: 1.3rem 2rem;
    top: 6rem;
  }
}

.shop__header__titles {
  display: block;
  height: 5.5rem;
  overflow: hidden;

  @include media('>=desktop') {
    height: 55px;
  }

  @include media('<phone') {
    height: 2.4rem;
  }
}

.shop__header__titles__wrapper {
  display: flex;
  flex-direction: column;
  height: 5.5rem;
  transition: transform 1s var(--ease-out-expo);

  @include media('>=desktop') {
    height: 55px;
  }

  @include media('<phone') {
    height: 2.4rem;
  }
}

.shop__header__title {
  font-size: 5rem;
  line-height: 1.1;
  margin-right: auto;
  position: relative;

  @include media('>=desktop') {
    font-size: 50px;
  }

  @include media('<phone') {
    font-size: 2.2rem;
  }
}

// .shop__header__title__text {
// }

.shop__header__title__number {
  font-size: 1.3rem;
  left: 100%;
  position: absolute;
  top: 0.5rem;

  @include media('>=desktop') {
    font-size: 13px;
    top: 5px;
  }

  @include media('<phone') {
    font-size: 1.2rem;
    margin-left: 0.2rem;
    top: 0;
  }
}

.shop__category {
  display: flex;
  flex-wrap: wrap;
}

.shop__category__item {
  aspect-ratio: 1;
  background: #beb3a1;
  border-bottom: 1px solid var(--color-black);
  overflow: hidden;
  position: relative;
  width: 50%;

  &:nth-child(1),
  &:nth-child(3) {
    border-right: 1px solid var(--color-black);
  }

  @include media('<phone') {
    min-height: 33.5rem;
    order: 1;
    width: 100%;
  }
}

.shop__category__item__media {
  @extend %cover;

  transition: transform 1s var(--ease-out-expo);

  .shop__category__item:hover & {
    transform: scale(1.1);
  }
}

.shop__category__item__media__image {
  @extend %cover;

  object-fit: cover;
}

.shop__category__content {
  bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  left: 2.2rem;
  line-height: 1;
  position: absolute;
}

.shop__category__label {
  @extend %animation-letter-spacing;
  @extend %label-12;

  margin-bottom: 0.8rem;
  margin-right: auto;
  position: relative;

  &--active {
    @extend %animation-letter-spacing--active;
  }
}

.shop__category__title {
  @extend %appear;
  @extend %description-18;

  margin-bottom: 1rem;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  &::after {
    @extend %link__line;
    @extend %link__line--hidden;
  }

  .shop__category__item:hover & {
    &::after {
      @extend %link__line--visible;
    }
  }
}

.shop__category__price {
  @extend %appear;

  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.shop__category__media {
  aspect-ratio: 1;
  background: var(--color-black);
  border-bottom: 1px solid var(--color-black);
  overflow: hidden;
  position: relative;
  width: 50%;

  &:nth-child(3) {
    border-right: 1px solid var(--color-black);
  }

  @include media('<phone') {
    order: 2;
    width: 100%;
  }
}

.shop__category__media__image {
  @extend %cover;

  object-fit: cover;
}
