:root {
  --color-bison-hide: #c2b7a3;
  --color-cod-gray: #141414;
  --color-pampas: #f1ebe7;
  --color-black: #000;
  --color-white: #fff;
}

$font-anonymous: 'anonymous-pro';
$font-editorial-new: 'Editorial New';
$font-neue-montreal: 'Neue Montreal';
$z-indexes: ('navigation', 'menu', 'box', 'bag', 'content', 'footer');
